@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start orgainzing your tasks and stay production ?!</p>
    <p>Get Started by Creating Your First To-Do-Item .</p>
    <button onclick="window.location.href='/Home/ReadName/'" type="button" class="btn btn-dark">Create New To Do Item</button>
</div>
