@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center centered-container">
	<h1 class="display-4">Welcome to Our Hospital</h1>
	<p class="lead">Thank you for choosing our hospital for your healthcare needs.</p>
	<p class="lead">Here , we strive to prvide the highest quality medical care to our patients.</p>
	<p class="lead">Learn more about our services and specialties.</p>
	<h6>Internal Medicine</h6>
	<h6>Pediarics</h6>
	<h6>Surgery</h6>
	<p class="lead">If you have any questions or need assistance , please don't hestiate to contant us.</p>

</div>
